<h3 class="center"><%= @meal.name.capitalize %></h3>

<div class="ingredients center">
  <% if @meal.ingredients.length > 0 %>
    <%= render 'ingredients' %>
  <% end %>
</div>
<hr>

<div class="form">
  <%= render 'ingredient_form' %>
</div>