<div>
  <h2>New Meal</h2>

  <div>
    <%= form_for @meal do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>

      

        <%= f.submit "create meal" %>
    <% end %>

  </div>
</div>